/* Set the height of HTML and body elements to 100% for full-page height */
html,
body {
  height: 100%;
}

/* Flex container for body to vertically center content */
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5; /* Set background color */
}

/* Styles for the sign-in form */
.form-signin {
  max-width: 330px;
  padding: 15px;
}

/* Styles for form-floating elements when focused */
.form-signin .form-floating:focus-within {
  z-index: 2;
}

/* Styles for email input in the form */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Styles for password input in the form */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Styles for placeholder images */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Media query for large screens */
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Styles for the example divider */
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Styles for the vertical divider */
.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

/* Styles for Bootstrap icons */
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/* Styles for the navigation scroller */
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

/* Styles for the navigation scroller content */
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/* Styles for the primary Bootstrap button with custom violet color */
.btn-bd-primary {
  /* Custom violet color variables */
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  /* Bootstrap button variables */
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

/* Styles for the mode toggle element */
.bd-mode-toggle {
  z-index: 1500;
}
