{{ define "mainPage"}}
<!-- Define the "mainPage" template -->

{{ template "Header"}} <!-- Include the "Header" template -->

<main>
  <!-- Main content section -->

  <div class="carousel-inner">
    <!-- Bootstrap carousel for displaying content -->
    <div class="carousel-item active">
      <!-- Active carousel item -->
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <div class="carousel-caption text-start">
        <!-- Caption for the carousel item -->
        <h1>Voar</h1>
        <p>Hi! My name Arsen Voar and this is my own site</p>
        <p><a class="btn btn-lg btn-primary" href="/googleSignIn">Sign up today</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Bootstrap row for arranging content -->
    <!-- Three columns with links to social media accounts -->
    <div class="col-lg-4">
      <!-- Column 1 -->
      <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <h2 class="fw-normal">Instagram</h2>
      <p>Instagram account about me</p>
      <p><a class="btn btn-secondary" href="instagram.com">View   &raquo;</a> </a></p>
    </div>
    <div class="col-lg-4">
      <!-- Column 2 -->
      <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <h2 class="fw-normal">GitHub</h2>
      <p>Github account about programming</p>
      <p><a class="btn btn-secondary" href="#">View &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <!-- Column 3 -->
      <svg class="bd-placeholder-img rounded-circle" width="120" height="120" xmlns="http://www.w3.org/2000/svg"
        role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
      </svg>
      <h2 class="fw-normal">LinkedIn</h2>
      <p>LinkedIn profile with portfolio</p>
      <p><a class="btn btn-secondary" href="#">View &raquo;</a></p>
    </div>
  </div>

  <!-- Featurette divider and content -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <!-- Featurette row -->
    <div class="col-md-7">
      <!-- Featurette content column 1 -->
      <h2 class="featurette-heading fw-normal lh-1">Success<span class="text-body-secondary">It’ll blow your mind.</span>
      </h2>
      <p>
        <!-- Featurette content -->
        <!-- Placeholder text -->
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et voluptate corporis aperiam veritatis.
        Doloremque reprehenderit fuga itaque tempora porro corporis aperiam. Ipsa, eos totam! Commodi voluptatum repellendus
        exercitationem vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima porro veritatis ipsam soluta
        adipisci recusandae quas earum unde? Ratione provident explicabo veniam laboriosam harum aliquam placeat doloribus?
        Doloremque, id voluptas! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quis laudantium dolorum
        voluptate? Cum quasi tempore rerum aspernatur at obcaecati quia! Quod omnis earum beatae ex fuga quaerat cum a.
      </p>
    </div>
    <div class="col-md-5">
      <!-- Featurette content column 2 -->
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
        focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)"
          dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

  <!-- Horizontal rule -->
  <hr>

  <div class="row featurette">
    <!-- Another featurette row -->
    <div class="col-md-7 order-md-2">
      <!-- Featurette content column 1 with order reversed -->
      <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span
          class="text-body-secondary">Work for yourself.</span></h2>
      <p class="lead">
        <!-- Featurette content with lead text -->
        <!-- Placeholder text -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis et voluptate corporis aperiam veritatis.
          Doloremque reprehenderit fuga itaque tempora porro corporis aperiam. Ipsa, eos totam! Commodi voluptatum repellendus
          exercitationem vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima porro veritatis ipsam soluta
          adipisci recusandae quas earum unde? Ratione provident explicabo veniam laboriosam harum aliquam placeat doloribus?
          Doloremque, id voluptas! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quis laudantium dolorum
          voluptate? Cum quasi tempore rerum aspernatur at obcaecati quia! Quod omnis earum beatae ex fuga quaerat cum a.
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda minima nobis enim natus odio nesciunt. Numquam
          porro aperiam, ipsam quod laborum nobis? Repellendus amet nesciunt ratione harum. Quae, quibusdam aspernatur.</p>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <!-- Featurette content column 2 with order reversed -->
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
        focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%" fill="var(--bs-secondary-color)"
          dy=".3em">500x500</text>
      </svg>
    </div>
  </div>

</main>

<hr class="Ar"> <!-- Horizontal rule with custom class -->

{{ template "Footer"}} <!-- Include the "Footer" template -->

{{ end }}
